<include src="shop-layout.html">
  <template name="seo">
  </template>
  <template name="head">
    <title th:text="|商店 - ${site.title}|">商店</title>
    <style>
      #searchToggle { display: none !important; }
      #themeToggle { display: none !important; }
    </style>
    <th:block th:replace="~{shop/modules/style}"></th:block>
    <th:block th:replace="~{shop/modules/script}"></th:block>
  </template>

  <div class="shop-page">
    <th:block th:replace="~{shop/modules/products}"></th:block>
  </div>
</include>
