<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title th:text="|${error.status} - ${site.title}|">服务器错误</title>
    <th:block th:replace="~{error :: style}" />
  </head>
  <body>
    <div class="error-content">
      <h1 class="error-code" th:text="${error.status}">500</h1>
      <p class="error-message" th:text="${error.title}">服务器错误</p>
      <p class="error-description" th:text="${error.detail}">服务器出了点问题，请稍后重试。</p>
      <th:block th:replace="~{error :: homeBtn}" />
    </div>
  </body>
</html>
