<include src="layout.html">
  <template name="seo">
  </template>
  <template name="head">
    <title th:text="|文档 - ${site.title}|">文档</title>
    <script>
      var docsme = {
        disableThemeFunction: true,
      };
    </script>
    <th:block th:replace="~{plugin:plugin-docsme:modules/style}"></th:block>
  </template>

  <div class="dm-container docs-page">
    <th:block th:replace="~{plugin:plugin-docsme:modules/docs :: docs(footer = null, showHeader = false, showThemeSwitcher = false)}"></th:block>
  </div>

  <script th:src="@{/plugins/plugin-docsme/assets/static/dist/main.iife.js}"></script>
</include>
