<include src="layout.html">
  <template name="seo">
    <meta name="description" th:content="${!#strings.isEmpty(theme.config.basic.meta_description) ? theme.config.basic.meta_description : site.subtitle}" />
    <link rel="canonical" th:href="${singlePage.status.permalink}" />
    <meta property="og:site_name" th:content="${site.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" th:content="${singlePage.spec.title}" />
    <meta property="og:description" th:content="${site.subtitle}" />
    <meta property="og:url" th:content="${singlePage.status.permalink}" />
    <meta th:if="${theme.config.hero.hero_image}" property="og:image" th:content="${theme.config.hero.hero_image}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" th:content="${singlePage.spec.title}" />
    <meta name="twitter:description" th:content="${site.subtitle}" />
    <meta th:if="${theme.config.hero.hero_image}" name="twitter:image" th:content="${theme.config.hero.hero_image}" />
    <script type="application/ld+json" th:inline="javascript">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          { "@type": "ListItem", "position": 1, "name": "首页", "item": /*[[${site.url}]]*/ "" },
          { "@type": "ListItem", "position": 2, "name": /*[[${singlePage.spec.title}]]*/ "" }
        ]
      }
    </script>
  </template>
  <template name="head">
    <title th:text="|${singlePage.spec.title} - ${site.title}|">页面标题</title>
  </template>

  <div class="page-content-wrapper">
    <div class="post-detail">
      <article>
        <header class="article-header">
          <h1 class="article-title" th:text="${singlePage.spec.title}"></h1>
        </header>
        <div
          class="article-content"
          th:if="${singlePage.content != null and singlePage.content.content != null}"
          th:utext="${singlePage.content.content}"
        ></div>
      </article>
      <div th:if="${haloCommentEnabled}">
        <halo:comment
          group="content.halo.run"
          kind="SinglePage"
          th:attr="name=${singlePage.metadata.name}"
        />
      </div>
    </div>
  </div>
</include>
