<include src="layout.html">
  <template name="seo">
    <th:block th:replace="~{partials/seo :: meta('page')}"></th:block>
  </template>
  <template name="head">
    <title th:text="|${singlePage.spec.title} - ${site.title}|">页面标题</title>
  </template>

  <div class="page-content-wrapper">
    <div class="post-detail">
      <article>
        <header class="article-header">
          <h1 class="article-title" th:text="${singlePage.spec.title}"></h1>
        </header>
        <div
          class="article-content"
          th:if="${singlePage.content != null and singlePage.content.content != null}"
          th:utext="${singlePage.content.content}"
        ></div>
      </article>
      <div th:if="${haloCommentEnabled}">
        <halo:comment
          group="content.halo.run"
          kind="SinglePage"
          th:attr="name=${singlePage.metadata.name}"
        />
      </div>
    </div>
  </div>
</include>
